<div class="my-5">
  <h1 class="text-center mb-5">My list of Events</h1>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center text-secondary mt-3 mb-4"> 
        Previous Created Events 
      </h3>
      <ul>
        <% @past_created_events.each do |past_created_event| %>
          <div class="border shadow p-3 mb-3 text-secondary lead list-unstyled d-flex align-items-center justify-content-between">
            <div>
              <li class="mb-2"><strong> <i class="fa fa-align-justify text-dark">  </i>  Description: </strong> <%=past_created_event.description %>    </li>
              <li class="mb-2"><strong> <i class="fa fa-text-width text-dark">     </i>  Title:       </strong> <%=past_created_event.event_name %>     </li>
              <li class="mb-2"><strong> <i class="fa fa-map-marker text-dark">     </i>  Location:    </strong> <%=past_created_event.event_location %> </li>
              <li class="mb-2"><strong> <i class="fa fa-calendar-check text-dark"> </i>  Date:        </strong> <%=past_created_event.event_date %>     </li>
              <li class="mb-2"><strong> <i class="fa fa-user text-dark">           </i>  Owner:       </strong> <%=past_created_event.creator.name %>   </li>
            </div>
            <div> 
              <%= link_to 'Read More', event_path(past_created_event.id), class: "btn btn-outline-dark" %>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
     <div class="col-md-6">
      <h3 class="text-center text-secondary mt-3 mb-4"> 
        Upcomming Created Events 
      </h3>
      <ul>
        <% @upcomming_created_events.each do |upcomming_created_event| %>
          <div class="border shadow p-3 mb-3 text-secondary lead list-unstyled d-flex align-items-center justify-content-between">
            <div>
              <li class="mb-2"><strong> <i class="fa fa-align-justify text-dark">  </i>  Description: </strong> <%=upcomming_created_event.description %>    </li>
              <li class="mb-2"><strong> <i class="fa fa-text-width text-dark">     </i>  Title:       </strong> <%=upcomming_created_event.event_name %>     </li>
              <li class="mb-2"><strong> <i class="fa fa-map-marker text-dark">     </i>  Location:    </strong> <%=upcomming_created_event.event_location %> </li>
              <li class="mb-2"><strong> <i class="fa fa-calendar-check text-dark"> </i>  Date:        </strong> <%=upcomming_created_event.event_date %>     </li>
              <li class="mb-2"><strong> <i class="fa fa-user text-dark">           </i>  Owner:       </strong> <%=upcomming_created_event.creator.name %>   </li>
            </div>
            <div> 
              <%= link_to 'Read More', event_path(upcomming_created_event.id), class: "btn btn-outline-dark" %>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
 </div>
 <div class="row">
    <div class="col-md-6">
      <h3 class="text-center text-secondary mt-3 mb-4"> 
        Previous Attended Events 
      </h3>
      <ul>
        <% @past_attended_events.each do |past_attended_event| %>
          <div class="border shadow p-3 mb-3 text-secondary lead list-unstyled d-flex align-items-center justify-content-between">
            <div>
              <li class="mb-2"><strong> <i class="fa fa-align-justify text-dark">  </i>  Description: </strong> <%=past_attended_event.description %>    </li>
              <li class="mb-2"><strong> <i class="fa fa-text-width text-dark">     </i>  Title:       </strong> <%=past_attended_event.event_name %>     </li>
              <li class="mb-2"><strong> <i class="fa fa-map-marker text-dark">     </i>  Location:    </strong> <%=past_attended_event.event_location %> </li>
              <li class="mb-2"><strong> <i class="fa fa-calendar-check text-dark"> </i>  Date:        </strong> <%=past_attended_event.event_date %>     </li>
              <li class="mb-2"><strong> <i class="fa fa-user text-dark">           </i>  Owner:       </strong> <%=past_attended_event.creator.name %>   </li>
            </div>
            <div> 
              <%= link_to 'Read More', event_path(past_attended_event.id), class: "btn btn-outline-dark" %>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
     <div class="col-md-6">
      <h3 class="text-center text-secondary mt-3 mb-4"> 
        Upcomming Attended Events 
      </h3>
      <ul>
        <% @upcomming_attended_events.each do |upcomming_attended_event| %>
          <div class="border shadow p-3 mb-3 text-secondary lead list-unstyled d-flex align-items-center justify-content-between">
            <div>
              <li class="mb-2"><strong> <i class="fa fa-align-justify text-dark">  </i>  Description: </strong> <%=upcomming_attended_event.description %>    </li>
              <li class="mb-2"><strong> <i class="fa fa-text-width text-dark">     </i>  Title:       </strong> <%=upcomming_attended_event.event_name %>     </li>
              <li class="mb-2"><strong> <i class="fa fa-map-marker text-dark">     </i>  Location:    </strong> <%=upcomming_attended_event.event_location %> </li>
              <li class="mb-2"><strong> <i class="fa fa-calendar-check text-dark"> </i>  Date:        </strong> <%=upcomming_attended_event.event_date %>     </li>
              <li class="mb-2"><strong> <i class="fa fa-user text-dark">           </i>  Owner:       </strong> <%=upcomming_attended_event.creator.name %>   </li>
            </div>
            <div> 
              <%= link_to 'Read More', event_path(upcomming_attended_event.id), class: "btn btn-outline-dark" %>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
 </div>
</div>
