<div class="container mt-5">
 <div class="row">
   <div class="col-md-6 mx-auto"> 
    <div class="card">
      <div class="card-header">
      <h3 class="d-flex align-items-center justify-content-center">Event Owner: <%= @event.creator.name %></h3>
      </div>
      <div class="card-body">
        <ul class="card-text">
          <div class="p-3 mb-3 text-secondary lead list-unstyled d-flex align-items-center justify-content-between">
            <div>
              <li><strong> Title: </strong>    <%= @event.event_name %>     </li>
              <li><strong> Location: </strong> <%= @event.event_location %> </li>
              <li><strong> Date: </strong>     <%= @event.event_date %>     </li>
            </div>
            <div> 
              <%= link_to 'Go back', root_path, class: "btn btn-outline-secondary" %>
               <%= link_to 'Edit', edit_event_path(@event.id), class: "btn btn-outline-dark" %>
            </div>
          </div>
        </ul>
      </div>
    </div>
   </div>
 </div>
</div>

  
